#bldgget-modal textarea {
    width: calc(100% - 13px);
    height: 60px;
    border:0;
    background-color:#eee;
    font-size:14px;
    line-height:20px;
    padding:10px;
    /* float:left; */
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
    /* margin-top: 7px; */
}

#bldgget-modal textarea:focus, #bldgget-modal textarea:active {
    outline:0;
    border:0;
    background-color: #ddd;
}

.bldg-sms-submit:hover {
    cursor: pointer;
    opacity: 0.8;
}
#bldgget-modal input[type="submit"] {
    display: block;
    border:0;
    background-color:#4aa0ff;
    color:white;
    /* width:50px; */
    margin: 10px auto 0;
    padding: 8px 15px;
    /* height: 80px; */
    font-size:14px;
    line-height: 20px;
    word-break: break-word;
    white-space: normal;
    -webkit-appearance: none;
    border-radius: 0;
}


#bldgget-modal input:focus, input:active {
    outline:0;
}

.modal-bldgget-wrapper {
    position:fixed;
    width:100%;
    height:100%;
    overflow:auto;
    z-index:9999;
    background-color:rgba(0,0,0,0.7);
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}
#bldgget-modal {
    max-width: 400px;
    margin: 50px auto;
    background-color:white;
    position:relative;
}

.search-head {
    padding:15px 20px;
    background-color:#4aa0ff;
    color:white;
}
.bldgget-modal-close {
    float:right;
}
.bldgget-modal-close:hover {
    cursor:pointer;
}


#bldgget-btn:hover {
    cursor: pointer;
}

.modal-bldgget {
    height: 32px;
    border: 2px solid #c9c9c9;
    padding-left: 10px;
    width: calc(100% - 96px);
    font-size: 15px;
    border-radius: 0;
    margin:0;
    padding:1px 1px 1px 10px;
    -webkit-appearance: none;
}

form#bldgget-form {
    padding: 20px;
}

.bldgget-modal-text {
    padding: 20px 20px 6px;
    font-size: 14px;
    line-height:24px;
    text-align:center;
}

.bldgget-modal-text a {
    color:#333;

}

.bldgget-table {
    width:100%;
    font-size: 14px;
}

.bldgget-table input {
    border: 0;
    width: 100%;
    background-color: #eee;
    font-size: 14px;
    line-height: 20px;
    padding: 4px;
    -webkit-appearance: none;
    border-radius: 0;
    resize: none;
}

#bldgget-modal input:focus, #bldgget-modal input:active {
    outline: 0;
    border: 0;
    background-color: #ddd;
}

#bldgget-textarea-label {
    margin : 10px 0px;
}
